<div id="<%= dom_id profile %>">
  <p>
    <strong>Firstname:</strong>
    <%= profile.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= profile.lastName %>
  </p>

  <p>
    <strong>Addressline1:</strong>
    <%= profile.addressLine1 %>
  </p>

  <p>
    <strong>Addressline2:</strong>
    <%= profile.addressLine2 %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= profile.postCode %>
  </p>

  <p>
    <strong>City:</strong>
    <%= profile.city %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= profile.phoneNumber %>
  </p>

</div>
