<h1>Contact</h1>

<form>
    <%= form_for(@contact, method: :post, url: contact_index_path ) do |form| %>

        <div class="mb-3">
            <%= form.label :name, class: "form-label" %>
            <%= form.text_field :name, required: true, class: "form-control", placeholder:"Type Your First Name" %>
        </div>

        <div class="mb-3">
            <%= form.label :email, class: "form-label" %>
            <%= form.email_field :email, required: true, class: "form-control", placeholder:"Type your email, i.e., name@example.com" %>
        </div>

        <div class="mb-3">
            <%= form.label :message, class: "form-label" %>
            <%= form.text_area :message, as: :text, required: true, class: "form-control", placeholder:"Type your message here" %>
        </div>

        <div class="mb-3 hidden">
            <%= form.label :nickname, class: "form-label" %>
            <%= form.text_field :nickname, hint: 'leave this field blank' %>
        </div>

    <div class="text-center text-md-left">
        <%= form.submit 'Send Message', class: "btn" %>
    </div>
<% end %>
</form>