<div id="<%= dom_id product %>">
  <p>
    <strong>Image:</strong>
    <%= image_tag "#{product.image}", width: "50%", height: "auto" %>
  </p>

  <%= form_with(url: cart_add_path) do |f| %>
    <%= f.hidden_field :id, value: product.id %>
    <%= f.number_field :quantity, value: 0, min: 1 %>
    <%= f.submit "Add to cart" %>
  <% end %>

  <p>
    <strong>Productid:</strong>
    <%= product.productID %>
  </p>

  <p>
    <strong>Productname:</strong>
    <%= product.productName %>
  </p>

  <p>
    <strong>Categoryid:</strong>
    <%= product.categoryID %>
  </p>

  <p>
    <strong>Categoryname:</strong>
    <%= product.categoryName %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product.size %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

</div>
