<div id="<%= dom_id product %>">
  <p>
    <strong>Productid:</strong>
    <%= product.productID %>
  </p>

  <p>
    <strong>Productname:</strong>
    <%= product.productName %>
  </p>

  <p>
    <strong>Categoryid:</strong>
    <%= product.categoryID %>
  </p>

  <p>
    <strong>Categoryname:</strong>
    <%= product.categoryName %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product.size %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= product.image %>
  </p>

</div>
