<h1>Products</h1>

<!--- Admin access only --->
<% if current_user.try(:admin?) %>  
  <%= link_to "New product", new_product_path %>

  <div class="container">
    <div class="row row-cols-4">
      <div class="col">
        LIST LIST
      </div>
      <% @products.each do |product| %>
      <div class="col">
  
        <div class="card" style="width: 18rem;">
          <%= link_to image_tag(product.image_url(:profile_size)), product %> 
          <div class="card-body">
            <h5 class="card-title"><%= product.productName %></h5>
              <p class="card-text">Size: <%= product.size %></p>
              <p class="card-text"><%= number_to_currency(product.price/100) %></p>
          
              <%= form_with(url: cart_add_path) do |f| %>
              <%= f.hidden_field :id, value: product.id %>
              <%= f.number_field :quantity, value: 0, min: 1 %>
              <%= f.submit "Add to cart", class: "btn" %>
            <% end %>

            <%= link_to "More info", product, class:"btn" %>
          </div>
        </div>
  
      </div>
      <% end %>
    </div>
  </div>

<!--- Admin access only end --->

<% else %>

<div class="container">
  <div class="row row-cols-4">
    <div class="col">
    <!--- Shopping cart preview start --->
    <h3>Currently in your cart:</h3>
         <%= turbo_frame_tag "cart" do %>
            <% if @cart.orderables.count > 0 %>
              <%= render "cart/items" %>
              <strong>Your cart Total: </strong> <%= @cart.total %>
            <% else %>
              <p>There's nothing yet</p>
            <% end %>
          <% end %>
    <!--- Shopping cart preview end --->
    </div>
    <% @products.each do |product| %>
    <div class="col">

      <div class="card" style="width: 18rem;">
        <%= link_to image_tag(product.image_url(:profile_size)), product %> 
        <div class="card-body">
          <h5 class="card-title"><%= product.productName %></h5>
          <p class="card-text">Size: <%= product.size %></p>
          <p class="card-text"><%= number_to_currency(product.price/100) %></p>
          
              <%= form_with(url: cart_add_path) do |f| %>
              <%= f.hidden_field :id, value: product.id %>
              <%= f.number_field :quantity, value: 0, min: 1 %>
              <%= f.submit "I want to buy this amount", class: "btn" %>
            <% end %>

          <%= button_to "Buy now", checkout_create_path, params: {id: product.id}, remote: true %>
          <%= link_to "More info", product, class:"btn btn-primary" %>
        </div>
      </div>

    </div>
    <% end %>
  </div>
</div>

<% end %>