<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<!--- Admin access only --->
<% if current_user.try(:admin?) %>  
  <%= link_to "New product", new_product_path %>

  <div class="container">
    <div class="row row-cols-4">
      <div class="col">
        LIST LIST
      </div>
      <% @products.each do |product| %>
      <div class="col">
  
        <div class="card" style="width: 18rem;">
          <%= link_to image_tag(product.image_url(:profile_size)), product %> 
          <div class="card-body">
            <h5 class="card-title"><%= product.productName %></h5>
              <p class="card-text">Size: <%= product.size %></p>
              <p class="card-text"><%= product.price %></p>
          
              <%= form_with(url: cart_add_path) do |f| %>
              <%= f.hidden_field :id, value: product.id %>
              <%= f.number_field :quantity, value: 0, min: 1 %>
              <%= f.submit "Add to cart", class: "btn" %>
            <% end %>

            <%= link_to "More info", product, class:"btn" %>
          </div>
        </div>
  
      </div>
      <% end %>
    </div>
  </div>

<!--- Admin access only end --->

<% else %>

<div class="container">
  <div class="row row-cols-4">
    <div class="col">
      LIST LIST
    </div>
    <% @products.each do |product| %>
    <div class="col">

      <div class="card" style="width: 18rem;">
        <%= link_to image_tag(product.image_url(:profile_size)), product %> 
        <div class="card-body">
          <h5 class="card-title"><%= product.productName %></h5>
          <p class="card-text">Size: <%= product.size %></p>
          <p class="card-text"><%= product.price %></p>
          
              <%= form_with(url: cart_add_path) do |f| %>
              <%= f.hidden_field :id, value: product.id %>
              <%= f.number_field :quantity, value: 0, min: 1 %>
              <%= f.submit "Add to cart", class: "btn" %>
            <% end %>

          <%= link_to "More info", product, class:"btn btn-primary" %>
        </div>
      </div>

    </div>
    <% end %>
  </div>
</div>

<% end %>